@charset "utf-8";

#wrap {
	width:100%;
	position:relative; 
	text-align:center; 
	overflow:hidden;
	margin:0 auto;
}
#header {
	width:100%;
	position:relative; 
	margin:0 auto;
} 
#container {
	width:100%;
	position:relative; 
	margin:0 auto;
	min-height:300px;
}
#sub_container {
	width:1260;
	position:relative; 
	margin:0 auto;
	min-height:500px;
}
#loginWrapper {position:absolute; z-index:10; left:50%; top:50%; margin:-88px 0 0 -256px; width:512px; height:177px; background:url(../img/common/login_wrap.jpg) no-repeat left top;}
	.loginForm {padding:84px 0 0 238px; width:236px;}
	.loginForm dl dt {clear:both; float:left; padding-top:4px; width:52px; height:18px;}
	.loginForm dl dd {float:left; width:128px; height:22px;}
	.loginForm dl dd .text {#margin:-1px 0; padding:3px 0 0 5px; width:121px; height:13px; border:1px solid #D2D2D2;}
	.loginForm .btn {clear:both; float:right; margin-top:-44px;}
	.loginForm .saveId {clear:both; margin-left:48px; width:100%;}

